.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-container {
    display: flex;
    margin: 1%;
    align-items: flex-start;
}

.flex {
    display: flex;
}

.graph-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    height: 50vh;
    margin: 0.5em;
}

.process-form-container {
    display: flex;
    flex-direction: column;
}

.process-form-row {
    display: flex;
    align-items: end;
    gap: 1.5em;
}

.legend {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1250px) {
    .home-page-container {
        flex-direction: column;
    }
    .graph-container {
        width: 100%;
        margin-bottom: 15%;
    }
}
