.graph-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 60vh;
    width: 80%;
    margin: 0.5em;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-container {
    margin: 1%;
}

.flex {
    display: flex;
}
